<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>list</h2>

<table>
    <tr>
        <th>글번호</th>
        <th>제목</th>
        <th>비밀번호</th>
        <th>작성자</th>
        <th>내용</th>
        <th>조회수</th>
    </tr>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.id}"></td>
        <td th:onclick="detail([[${board.id}]])">[[${board.boardTitle}]]</td>
        <td th:text="${board.boardPassword}"></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${board.boardContents}"></td>
        <td th:text="${board.boardHits}"></td>
    </tr>
</table>

</body>
<script>
    const detail = (id) => {
      location.href= "/board/"+id;
    }
</script>
</html>